/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.main-wrapper{
    margin:0 auto;
    width:  1000px;
}
a{
    text-decoration:none;

}
body {
    background-color: #ccc;
}
header nav{
    width: 100%;
    height: 80px;
    background-color:  rgba(82, 82, 82, 0.507);

}
header nav ul{
    float: left;

}
header nav ul li{
    padding: 10px;
    float: left;
    list-style:none;

}
header nav ul li a{
    font-family: Arial;
    font-size:19px;
    color:#111;
    line-height:63px;
}
header .nav-login{
    float:right;
    
}
header .nav-login form{
    float:left;
    padding-top:15px;
}
header .nav-login form input{
     float:left;
     width:110px;
     height:30px;
     padding:0px 10px;
     margin-right:10px;
     border:none;
     background-color:#ccc;
     font-family: Arial;
     font-size:14px;
     color:#111;
     line-height:30px;
 }

header .nav-login form button{
    float:left;
    width:80px;
    height:30px;
    margin-right:10px;
    border:none;
    background-color:#f3f3f3;
    font-family: Arial;
    font-size:14px;
    color:#111;
    cursor:pointer;
}

header .nav-login form button:hover{
    background-color:#ccc;
}
header .nav-login a{
    margin-top:15px;
    line-height:30px;
    padding-left: 15px;
    display: block;
    float:left;
    width:100px;
    height:30px;
    margin-right:10px;
    border:none;
    background-color:#f3f3f3;
    font-family: Arial;
    font-size:14px;
    color:#111;
    cursor:pointer;
}


.main-container{
     padding-top:40px;
 }
.main-container h2{
    font-family: Arial;
    font-size:40px;
    color:#111;
    line-height:50px;
    text-align:center;

}
.main-container h3{
    font-family: Arial;
    font-size:20px;
    color:#111;
    line-height:50px;
    text-align:center;

}
/*register*/
.register-form{
    width: 400px;
    margin:0 auto;
    padding-top:30px;

}
.edit-form button{
    display:block;
    margin: 0 auto;
    height:16px;
    border:none;
    background-color:#333344;
    font-family: Arial;
    font-size:12px;
    color:#fff;
    curso:pointer;

}
.register-form input{
    width:90%;
    height:40px;
    padding:0px 5%;
    margin-bottom:4px;
    border:none;
    background-color:#fff;
    font-family: Arial;
    font-size:16px;
    color:#111;
    line-height:40px;

}

.register-form button{
    display:block;
    margin: 0 auto;
    width:30%;
    height:40px;
    border:none;
    background-color:#222;
    font-family: Arial;
    font-size:16px;
    color:#fff;
    curso:pointer;

}

.register-form button:hover {
    background-color:#111;

}

table {
    margin-left:auto;
    margin-right:auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    background-color:#fff;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}


@charset "utf-8";
/*
Template Name: Modular Business
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: Tables CSS
*/

table{width:70%; border-collapse:collapse; table-layout:auto; vertical-align:top; margin-bottom:15px; border:1px solid #CCCCCC;}
table thead th{color:#FFFFFF; background-color:#666666; border:1px solid #CCCCCC; border-collapse:collapse; text-align:center; table-layout:auto; vertical-align:middle;}
table tbody td{vertical-align:top; border-collapse:collapse; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
table thead th, table tbody td{padding:5px; border-collapse:collapse;}
table tbody tr.light{color:#666666; background-color:#F7F7F7;}
table tbody tr.dark{color:#666666; background-color:#E8E8E8;}

/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */

/* background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right; */
/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: rgb(156, 156, 156) url(http://www.kirbylarson.com/wp-content/uploads/2015/01/bookflipping1.png) no-repeat top right; 
    margin: 0; 
	padding: 0;
    }
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic bold 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
    }
h4 { 
	font: italic bold 1em georgia, sans-serif;
    letter-spacing: 1px; 
    text-align: right;
	margin-right: 15%; 
	color: rgb(14, 13, 13);
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}


/* specific divs */
.page-wrapper { 
	background: url(http://csszengarden.com/001/zen-bg.jpg) no-repeat top left; 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 470px;
	width: 100%;
	}

header h1 { 
	background: transparent url(http://csszengarden.com/001/h1.gif) no-repeat top left;
	margin-top: 10px;
	display: block;
	width: 219px;
	height: 87px;
	float: left;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header h2 { 
	background: transparent url(http://csszengarden.com/001/h2.gif) no-repeat top left; 
	margin-top: 58px; 
	margin-bottom: 40px; 
	width: 200px; 
	height: 18px; 
	float: right;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header {
	padding-top: 20px;
	height: 87px;
}

.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	}
.summary p {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	}
.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;
	}

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
	}
.sidebar .wrapper { 
	font: 10px verdana, sans-serif; 
	background: transparent url(http://csszengarden.com/001/paper-bg.jpg) top left repeat-y; 
	padding: 10px; 
	margin-top: 150px; 
	width: 130px; 
	}
.sidebar h3.select { 
	background: transparent url(http://csszengarden.com/001/h3.gif) no-repeat top left; 
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.archives { 
	background: transparent url(http://csszengarden.com/001/h5.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources { 
	background: transparent url(http://csszengarden.com/001/h6.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #988F5E;
	}
.sidebar li a:visited {
	color: #B3AE94;
	}


.extra1 {
	background: transparent url(http://csszengarden.com/001/cr2.gif) top left no-repeat; 
	position: absolute; 
	top: 40px; 
	right: 0; 
	width: 148px; 
	height: 110px;
	}